#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: -15px;
}
#friends-display-link i {
  color: var(--gray);
}
.friends-screen {
  padding: 0px var(--horizontal-space);
}
.friends-screen__channel {
  margin-top: 25px;
  margin-bottom: 30px;
  border-top: var(--border-line);
  padding-top: 20px;
}
.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  color: var(--gray);
}

@keyframes HiddenSplashScreen {
  form {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
#splash-screen {
  width: 100vw;
  height: 100vh;
  background-color: var(--yellow);
  font-size: 132px;
  position: absolute;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: HiddenSplashScreen 0.3s forwards ease-in-out;
  animation-delay: 1s;
}
