#no-mobile {
  width: 100vw;
  height: 100vh;
  background-color: var(--yellow);
  font-size: 35px;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

#no-mobile span {
  margin: 10px;
}

@media screen and (max-width: 600px) {
  #no-mobile {
    display: none;
  }
}
