#no-mobile {
  width: 100vw;
  height: 100vh;
  font-size: 35px;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
#no-mobile img {
  width: 100vw;
  height: 100vh;
}
#no-mobile span {
  position: absolute;
  display: block;
  color: white;
  background-color: var(--gray);
  font-size: 25px;
  font-weight: 600;
  padding: 15px;
  border-radius: 50px;
}

@media screen and (max-width: 600px) {
  #no-mobile {
    display: none;
  }
}
