.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  padding-top: 40px;
  background-color: white;
  z-index: 1;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons {
  display: flex;
}
.screen-header__icons span {
  display: flex;
  position: relative;
  margin-left: 25px;
}
.screen-header__cog-notification {
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: tomato;
  bottom: 20px;
  left: 25px;
}

@keyframes rotateSearch {
  0% {
    transform: none;
  }
  25% {
    transform: rotateZ(-20deg);
  }
  50% {
    transform: none;
  }
  75% {
    transform: rotateZ(20deg);
  }
  100% {
    transform: none;
  }
}
.screen-header__icons .fa-search:hover {
  color: #f78702;
  animation: rotateSearch 0.7s ease-in-out infinite;
}

@keyframes rotateMusic {
  0% {
    transform: none;
  }
  25% {
    transform: rotateZ(15deg);
  }
  50% {
    transform: none;
  }
  75% {
    transform: rotateZ(-15deg);
  }
  100% {
    transform: none;
  }
}
.screen-header__icons .fa-music:hover {
  color: #7f65f7;
  animation: rotateMusic 0.7s ease-in-out infinite;
}

@keyframes rotateCog {
  form {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.screen-header__icons .fa-cog:hover {
  color: #f73d40;
  animation: rotateCog 2s linear infinite;
}

@keyframes rotateComment {
  0% {
    transform: none;
  }

  50% {
    transform: translateY(-10px) rotateZ(360deg);
  }

  100% {
    transform: none;
  }
}
.screen-header__icons .fa-comment-dots:hover {
  color: var(--yellow);
  animation: rotateComment 3s linear infinite;
}
